input{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.bi-trash3 {
    color:black;
    cursor: pointer;

}


ul{
    list-style-type: none;
    padding: 0;
    margin: 10px;
}
#element{
    padding: 10px;
    margin: 10px;
    width: 30%;
}

div.col-6{
    background-color: #eae6e6;
}